<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FOOTER</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="../../libraries/bootstrap/bootstrap.min.css">

  <!-- FONTAWESOME -->
  <script src="../../libraries/fontawesome/fontawesome.js"></script>
</head>
<body>
<!--##FOOTER##-->

<!-- BOOTSTRAP -->
<scrip src="../../libraries/bootstrap/bootstrap.bundle.min.js"></scrip>
</body>
</html>