<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HEADER</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="../../libraries/bootstrap/bootstrap.min.css">

  <!-- FONTAWESOME -->
  <script src="../../libraries/fontawesome/fontawesome.js"></script>

  <script>
    function dynvar() {
      var vars = {};
      var x = document.location.search.substring(1).split('&');

      for (var i in x) {
        var z = x[i].split('=',2);

        if (!vars[z[0]]) {
          vars[z[0]] = unescape(z[1]);
        }
      }

      var vars_title = {};
      var x = vars.doctitle.split('/*/');

      for (var i in x) {
        var z = x[i].split(':',2);

        if (!vars_title[z[0]]) {
          vars_title[z[0]] = unescape(z[1]);
        }
      }

      // document.getElementById('paginate').innerHTML = 'P&aacute;gina ' + vars.page + ' de ' + vars.topage;

      if (vars.page > 1) {
        document.getElementById('header').innerHTML = '<!--##HEADER##-->';
      } else {
        document.getElementById('header').innerHTML = '<div class="text-center m-auto" style="width: 90%;"> <div style="height: 3px; background-color: black; border-color: black;" ></div><div class="d-inline-block text-start" style="width: 49%;"><img src="../configuracion/3EMexico.jpg" alt="Logo" style="height: 75px;"></div><div class="d-inline-block" style="width: 49%;"><h1>EEE DE MÉXICO SA DE CV</h1></div><div style="height: 3px; background-color: black; border-color: black;" ></div></div>';
      }
    }
  </script>
</head>
<body style="margin: 0px;" onload="dynvar();">
  <div id="header">

  </div>

  <scrip src="../../libraries/bootstrap/bootstrap.bundle.min.js"></scrip>
</body>
</html>